<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <%= link_to "Friend App", root_path, class: "nav-link"%>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to "Friends", friends_path, class: "nav-link"%>
      </li>

      <li class="nav-item active">
        <%= link_to "About us", home_about_path, class: "nav-link"%>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Sign Out", destroy_user_session_path,
                      method: :delete, class: "nav-link"%>
        </li>

        <li class="nav-item active">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link"%>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"%>
        </li>

        <li class="nav-item active">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link"%>
        </li>
      <% end %>

    </ul>
  </div>
</nav>